<div id="display-view-with-ajax">
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <h2>Welcome to DisplayViewWithAjax.cshtml</h2>
    <h4>We just used AJAX to display a view!</h4>
    <img src="https://sites.psu.edu/siowfa16/files/2016/10/YeDYzSR-10apkm4.png" alt="Alternate Text" style ="height:200px; width:200px" />
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>

</div>